#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    text-align: center;
}

.header {
    min-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.3em;
    background-color: black;
}

.header>a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: rgb(168, 167, 167);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.3em;
    background-color: rgb(15, 3, 83);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: rgb(168, 167, 167);
    letter-spacing: 0.2em;
    word-spacing: 0.3em;
}

.table {
    max-width: 100rem;
}

.theader {
    text-transform: capitalize;
}

section>div>.smaller-font {
    font-size: 1em;
}

.theader>div {
    box-shadow: 1px 4px 5px 1px gray;
    font-size: 1.3rem;
    color: blue;
    font-weight: 600;
    /* line-height: 1.8rem; */
}

.tbody {
    height: 47vh;
    overflow-y: auto;
}

/* .tbody a,
.tbody a:link,
.tbody a:visited,
.tbody a:focus,
.tbody a:active {
    text-decoration: none;
    color: black;
} */

.clients-grid {
    padding: 0.5em 1em;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr 1fr;
    gap: 1rem;
}

.contracts-grid {
    padding: 0.2em;
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.6fr 1.1fr 1.2fr 1.2fr 1fr 1fr 1fr 1fr;
    gap: 0.3rem;
}

.trow:hover {
    background-color: rgb(243, 243, 157);
}

.name {
    text-align: left;
    padding-left: 2rem;
}

/* .trow {
  border-bottom: 1px solid black;
} */

img {
    width: 100vw;
    max-width: 100rem;
    height: 30vh;
}

main>img {
    width: auto;
    height: 70vh;
}

.slogan {
    margin: 1em 8em;
    padding: 0.5em 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    font-family: 'Courier New', Courier, monospace;
    margin: 0.3em;
}

h2, h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1em;
}

h3 {
    font-style: oblique;
}


/** A general form in this app: a frame which includes a <section> that contains all elements: input, label, button **/

.genForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.genForm section {
    min-width: 25em;
    width: auto;
    min-height: 50vh;
    height: auto;
    margin: 2em;
    padding: 1em 2em;
    box-shadow: 5px -5px 15px 1px gray;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.genForm section label {
    font-weight: 900;
    display: block;
}

.genForm section span {
    margin-bottom: 1em;
}

.genForm section input {
    padding: 0.1em 1em;
    margin: 0.5em 0em 1em 0em;
    place-content: left;
    font: inherit;
    border: 1px solid gray;
    border-radius: 0.5em;
}

/** form section end... **/


button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5em 1em;
    margin: 1em 1em;
    /* max-width: 18em; */
    justify-content: space-around;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: whitesmoke;
    cursor: pointer;
    transition: border-color 0.5s;
}

td>button {
    margin: 0.3em 1em 0.3em -1em;
}

button:hover {
    background-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
    background-color: gray;
}

td {
    font-size: 0.8em;
    text-align: left;
    padding: 0 0 0 1em;
}

select {
    font: inherit;
    width: 20em;
    padding: 0.3em 0;
    margin-bottom: 1em;
}